{% extends "layout.html.twig" %}

{% block title %}{{ 'team.title' | trans }}{% endblock %}

{% block meta_description%}Artisans du web. Notre agence se situe à Lausanne, Suisse.{% endblock %}

{% block body_class %}team{% endblock %}

{% block baseline %}
<div class="baseline-space"></div>
<div class="page-title">
    <section>
        <h1 class="title-separation magenta-sep">
            <span></span>
            Agence web
        </h1>
    </section>
</div>
{% endblock %}

{% block content %}
<section id="content">
    <div id="intro">
        <div class="with-aside">
            <aside>
                <h2>Antistatique est une entreprise de passionnés du web. Notre agence se situe à <a href="{{ path('contact') }}">Lausanne</a> et à <a href="{{ path('contact') }}">Genève</a>, Suisse.</h2>
            </aside>
            <article>
                <h3>
                    Comment travaillons-nous au quotidien ?
                </h3>
                <p>
                    Nous pratiquons le développement par itération. Nous faisons le point le plus souvent possible avec vous, pour affiner nos solutions de façon à les adapter à vos problèmes. Nous aimons promouvoir les notions d'hygiène du code et de développement durable et future friendly.
                </p>
                <p>
                    Nous travaillons avec ceux qui ont une vision à long terme et qui affectionnent l'analyse précise basée sur des statistiques, des faits et des tests utilisateurs. Nous construisons avec nos clients un partenariat sur la durée. Nous aimons les détails pointus autant que la perspective générale.<br/>
                    Nous sommes exigeants et engagés, vous pouvez compter sur nous.
                </p>
            </article>
        </div>
    </div>

    <div id="services">
        <div class="with-aside">
            <aside>
                <h1 class="title-separation">
                    <span></span>
                    Services
                </h1>
                <p>Nous développons des solutions web pour nos clients. Ces réalisations sont des sites et applications web fonctionnant parfaitement sur navigateurs, tablettes et smartphones. Ces réalisations sont centrées sur les besoins de l'utilisateur, et ceci de la stratégie à la publication.</p>
                <ul>
                    <li>Stratégies digitales</li>
                    <li>Applications web et web mobile</li>
                    <li>Solutions E-commerce</li>
                </ul>
            </aside>
            <article>
                <h3 class="title-separation magenta-sep">
                    <span></span>
                    Stratégie
                </h3>
                <p>
                    À la base de tout projet, la stratégie définit les moyens pour atteindre vos objectifs. Nous vous proposons des solutions innovantes et originales pour retenir l'attention de votre public cible.
                </p>
                <p><strong>Stratégie digitale (rapport ou présentation), concept de communication, analyse de marché.</strong></p>
                <h3 class="title-separation magenta-sep">
                    <span></span>
                   Design centré utilisateur
                </h3>
                <p>
                    Penser à l'utilisateur c'est anticiper ses réactions et améliorer son expérience. L'objectif est qu'il garde le sourire en obtenant l'information qu'il cherche.
                </p>
                <p><strong>Architecture, prototype, résumé des tests utilisateurs, processus de navigation.</strong></p>
                <h3 class="title-separation magenta-sep">
                    <span></span>
                    Design visuel
                </h3>
                <p>
                    L'identité de marque et l'émotion que transmet votre projet/entreprise sont l'expertise de nos graphistes web.
                </p>
                <p><strong>Digital branding, moodboard, maquettes, corporate, signalétique, styleguide dynamique.</strong></p>
                <h3 class="title-separation magenta-sep">
                    <span></span>
                    Développement
                </h3>
                <p>
                    Coeur du système, le développement doit être performant, utile, propre et permettre d'améliorer la vie des utilisateurs du logiciel.
                </p>
                <p><strong>Application web, application mobile, site E-commerce, newsletters.</strong></p>
                <h3 class="title-separation magenta-sep">
                    <span></span>
                    Formation / Accompagnement
                </h3>
                <p>
                    Nous sommes à vos côtés et restons disponibles tout au long du projet. Notre politique de support et de maintenance vous assure un suivi lors des urgences ou besoins d'assistance.
                </p>
                <p><strong>Formations, présentations.</strong></p>
                <h3 class="title-separation magenta-sep">
                    <span></span>
                    Mesure
                </h3>
                <p>
                    Le digital permet aisément de tout mesurer. Il est important de comprendre le chemin effectué par vos visiteurs pour les aider à trouver plus facilement ce qu'ils cherchent.
                </p>
                <p><strong>Configuration de Google Analytics, formation, rapports.</strong></p>
            </article>
        </div>
    </div>


<div id="team">
        <div class="with-aside">
            <aside>
                <h1 class="title-separation">
                    <span></span>
                    Notre équipe
                </h1>
            </aside>
            <article class="web-artisans">
                <h3>Nous sommes des gens qui aimons faire, et bien faire.</h3>
                <p>
                    Par artisans, nous entendons que nous relevons nos manches et mettons la main à la pâte pour obtenir un résultat qui vous aidera réellement. <br/>Chaque pixel, chaque ligne de code, chaque zone de texte compte pour nous.
                </p>
            </article>
        </div>

        <div class="member">
            <div class="photo"><img src="/assets/img/team/agz.png"></div>
            <div class="description">
                <h4>Alberto Gomez</h4>
                <p>Digital Strategist & Founder</p>
                <p class="social-links">
                    <a class="twitter" href="http://www.twitter.com/kidvaldez"><span class="icon">T</span>@kidvaldez</a>
                    <a class="mail" href="mailto:alberto@antistatique.net"><span class="icon">m</span>alberto@antistatique.net</a>
                    <a class="linkedin" href="http://ch.linkedin.com/in/albertobyas"><span class="icon">L</span>LinkedIn</a>
                    <a class="facebook" href="http://www.facebook.com/alberto.gomezsalfate.7"><span class="icon">F</span>Facebook</a>
                </p>
            </div>
        </div>
        <div class="member">
            <div class="photo"><img src="/assets/img/team/gde.png"></div>
            <div class="description">
                <h4>Gilles Doge</h4>
                <p>Web Software Engineer & Founder</p>
                <p class="social-links">
                    <a class="twitter" href="http://www.twitter.com/gil_les"><span class="icon">T</span>@gil_les</a>
                    <a class="mail" href="mailto:gilles@antistatique.net"><span class="icon">m</span>gilles@antistatique.net</a>
                    <a class="linkedin" href="http://ch.linkedin.com/in/gillesdoge"><span class="icon">L</span>LinkedIn</a>
                    <a class="github" href="http://github.com/gido"><span class="icon">O</span>gido</a>
                </p>
            </div>
        </div>
        <div class="member">
            <div class="photo"><img src="/assets/img/team/mfh.png"></div>
            <div class="description">
                <h4>Marc Friederich</h4>
                <p>Software Designer & Founder</p>
                <p class="social-links">
                    <a class="twitter" href="http://www.twitter.com/zufrieden"><span class="icon">T</span>@zufrieden</a>
                    <a class="mail" href="mailto:marc@antistatique.net"><span class="icon">m</span>marc@antistatique.net</a>
                    <a class="linkedin" href="http://ch.linkedin.com/in/marcfriederich"><span class="icon">L</span>LinkedIn</a>
                    <a class="github" href="http://github.com/zufrieden"><span class="icon">O</span>zufrieden</a>
                </p>
            </div>
        </div>
        <div class="member">
            <div class="photo"><img src="/assets/img/team/ygn.png"></div>
            <div class="description">
                <h4>Yann Gouffon</h4>
                <p>Frontend Developer</p>
                <p class="social-links">
                    <a class="twitter" href="http://www.twitter.com/Yago_0"><span class="icon">T</span>@Yago_0</a>
                    <a class="mail" href="mailto:yann@antistatique.net"><span class="icon">m</span>yann@antistatique.net</a>
                    <a class="linkedin" href="http://ch.linkedin.com/pub/yann-gouffon/47/9a0/9bb/"><span class="icon">L</span>LinkedIn</a>
                    <a class="github" href="https://github.com/yago"><span class="icon">O</span>yago</a>
                </p>
            </div>
        </div>
        <div class="member">
            <div class="photo"><img src="/assets/img/team/phm.png"></div>
            <div class="description">
                <h4>Philippe Heim</h4>
                <p>Dynamic Business Catalyst</p>
                <p class="social-links">
                    <a class="twitter" href="http://www.twitter.com/eevy_philip"><span class="icon">T</span>@eevy_philip</a>
                    <a class="mail" href="mailto:philippe@antistatique.net"><span class="icon">m</span>philippe@antistatique.net</a>
                    <a class="linkedin" href="http://ch.linkedin.com/pub/philippe-heim/43/208/368/en"><span class="icon">L</span>LinkedIn</a>
                    <a class="facebook" href="https://www.facebook.com/Eevyph"><span class="icon">F</span>Facebook</a>
                </p>
            </div>
        </div>
        <div class="member">
            <div class="photo"><img src="/assets/img/team/som.png"></div>
            <div class="description">
                <h4>Saniha Ozem</h4>
                <p>Digital Project Manager</p>
                <p class="social-links">
                    <a class="mail" href="mailto:saniha@antistatique.net"><span class="icon">m</span>saniha@antistatique.net</a>
                </p>
            </div>
        </div>
        <div class="member">
            <div class="photo"><img src="/assets/img/team/dmt.png"></div>
            <div class="description">
                <h4>Damien Magnenat</h4>
                <p>Digital Project Manager</p>
                <p class="social-links">
                    <a class="twitter" href="http://www.twitter.com/DamienMagnenat"><span class="icon">T</span>@DamienMagnenat</a>
                    <a class="mail" href="mailto:damien@antistatique.net"><span class="icon">m</span>damien@antistatique.net</a>
                    <a class="linkedin" href="http://ch.linkedin.com/in/damienmagnenat/"><span class="icon">L</span>LinkedIn</a>
                    <a class="github" href="https://github.com/DamienMagnenat"><span class="icon">O</span>DamienMagnenat</a>
                </p>
            </div>
        </div>
        <div class="member">
            <div class="photo"><img src="/assets/img/team/gbe.png"></div>
            <div class="description">
                <h4>Guillaume Berry</h4>
                <p>Visual Designer</p>
                <p class="social-links">
                    <a class="twitter" href="https://twitter.com/guillaumeberry"><span class="icon">T</span>@guillaumeberry</a>
                    <a class="mail" href="mailto:guillaume@antistatique.net"><span class="icon">m</span>guillaume@antistatique.net</a>
                    <a class="linkedin" href="http://linkedin.com/in/guillaumeberry"><span class="icon">L</span>LinkedIn</a>
                </p>
            </div>
        </div>
        <div class="member">
            <div class="photo"><img src="/assets/img/team/smi.png"></div>
            <div class="description">
                <h4>Sepehr Milani</h4>
                <p>Visual Designer</p>
                <p class="social-links">
                    <a class="mail" href="mailto:sepehr@antistatique.net"><span class="icon">m</span>sepehr@antistatique.net</a>
                    <a class="linkedin" href="http://ch.linkedin.com/pub/sepehr-milani/68/2a3/6b5"><span class="icon">L</span>LinkedIn</a>
                </p>
            </div>
        </div>
        <div class="member">
            <div class="photo"><img src="/assets/img/team/tfr.png"></div>
            <div class="description">
                <h4>Toni Fisler</h4>
                <p>Frontend Developer</p>
                <p class="social-links">
                    <a class="twitter" href="http://www.twitter.com/tonifisler"><span class="icon">T</span>@tonifisler</a>
                    <a class="mail" href="mailto:toni@antistatique.net"><span class="icon">m</span>toni@antistatique.net</a>
                    <a class="linkedin" href="http://www.linkedin.com/pub/toni-fisler/21/373/709"><span class="icon">L</span>LinkedIn</a>
                    <a class="github" href="https://github.com/tonifisler"><span class="icon">O</span>tonifisler</a>
                </p>
            </div>
        </div>
        <div class="member">
            <div class="photo"><img src="/assets/img/team/cfi.jpg"></div>
            <div class="description">
                <h4>Charlotte Fahrni</h4>
                <p>Office Manager</p>
                <p class="social-links">
                    <a class="mail" href="mailto:cedric@antistatique.net"><span class="icon">m</span>charlotte@antistatique.net</a>
                    <a class="linkedin" href="https://www.linkedin.com/pub/charlotte-fahrni/77/b52/20b"><span class="icon">L</span>LinkedIn</a>
                </p>
            </div>
        </div>
        <div class="member">
            <div class="photo"><img src="/assets/img/team/aae.png"></div>
            <div class="description">
                <h4>Alexandre Apraxine</h4>
                <p>Junior Frontend Designer</p>
                <p class="social-links">
                    <a class="twitter" href="https://twitter.com/apraxinealex"><span class="icon">T</span>@apraxinealex</a>
                    <a class="mail" href="mailto:alexandre@antistatique.net"><span class="icon">m</span>alexandre@antistatique.net</a>
                    <a class="github" href="https://github.com/Alexandre-Apraxine"><span class="icon">O</span>Alexandre-Apraxine</a>
                </p>
            </div>
        </div>
        <div class="member">
            <div class="photo"><img src="/assets/img/team/ccd.png"></div>
            <div class="description">
                <h4>Cédric Carrard</h4>
                <p>Junior Backend Developer</p>
                <p class="social-links">
                    <a class="twitter" href="https://twitter.com/ccarrard"><span class="icon">T</span>@ccarrard</a>
                    <a class="mail" href="mailto:cedric@antistatique.net"><span class="icon">m</span>cedric@antistatique.net</a>
                    <a class="linkedin" href="https://www.linkedin.com/in/cedriccarrard"><span class="icon">L</span>LinkedIn</a>
                    <a class="github" href="https://github.com/CedricCarrard"><span class="icon">O</span>CedricCarrard</a>
                </p>
            </div>
        </div>
         <div class="member">
            <div class="photo"><img src="/assets/img/team/nsz.png"></div>
            <div class="description">
                <h4>Noémie Sandoz</h4>
                <p>Junior UX Designer</p>
                <p class="social-links">
                    <a class="mail" href="mailto:noemie@antistatique.net"><span class="icon">m</span>noemie@antistatique.net</a>
                    <a class="linkedin" href="http://ch.linkedin.com/in/nsandoz"><span class="icon">L</span>LinkedIn</a>
                    <a class="github" href="https://github.com/nsz"><span class="icon">O</span>nsz</a>
                </p>
            </div>
        </div>
        <div class="member you">
            <div class="photo"><img src="/assets/img/team/play.png"></div>
            <div class="description">
                <h4>Pour rejoindre l'équipe !</h4>
                <p>Consulter notre <a href="{{ path('job') }}">page job</a> et envoyez-nous votre CV à <a href="mailto:job@antistatique.net">job@antistatique.net</a></p>
            </div>
        </div>
    </div>

     <div id="technologies">
        <div class="with-aside">
            <aside>
                <h1 class="title-separation">
                    <span></span>Technologies
                </h1>
                <p>Nous développons uniquement des solutions basé sur les logiciels libres (Open Source). Partie importante de l'ADN d'Antistatique, nous croyons que le logiciel libre est un gage de qualité, de sécurité et de stabilité.</p>
            </aside>
            <article>
                <h3 class="title-separation magenta-sep">
                    <span></span>
                    Symfony
                </h3>
                <p>
                    Symfony est un framework de développement PHP libre et Open Source qui permet notamment de développer :
                </p>
                <p>
                    Plus sainement et mieux, dans le sens ou le framework fournit la certitude que le développement de l’application sera concentré sur les besoins métiers, de manière structurées et pérenne dans le temps (dont les mises à jour sont aisées).
                </p>
                <p>
                    Plus rapidement, parce que le framework permet de faire gagner du temps aux développeurs en proposant des composants réutilisables.
                </p>
                <p>
                    Symfony est l’outil idéal pour développer des applications sur mesures.
                </p>
                <h3 class="title-separation magenta-sep">
                    <span></span>
                   Drupal
                </h3>
                <p>
                    Nous conseillons Drupal pour des sites orientés contenu ou nécessitant un background e-commerce flexible et évolué.
                </p>
                <p>
                    Ce système de gestion de contenu (CMS) libre et Open Source est écrit en PHP, notre langage de programmation de prédilection. Très répandu, il est utilisé du blog personnel aux sites gouvernementaux comme whitehouse.gov et data.gov.uk. Il est également adapté pour de la gestion des connaissances et des Intranets.
                </p>
                <h3 class="title-separation magenta-sep">
                    <span></span>
                   Magento
                </h3>
                <p>
                    Magento est une solution Open Source de commerce électronique créée en 2008 par l’éditeur américain Varien, sur les bases du Framework Zend, et détenue depuis 2011 par ebay. Magento connaît une croissance fulgurante depuis son lancement et domine aujourd’hui le marché du commerce électronique avec 26% de parts de marché.
                </p>
                <p>
                    Conçu pour être évolutif et soutenu par une vaste communauté de développeurs, Magento offre aux entreprises la plus moderne des solutions e-commerce.
                </p>
               {#  <h3 class="title-separation magenta-sep">
                    <span></span>
                    Wordpress
                </h3>
                <p>

                </p>
                <h3 class="title-separation magenta-sep">
                    <span></span>
                    Documentation
                </h3>
                <p>

                </p>
                <h3 class="title-separation magenta-sep">
                    <span></span>
                    Agile
                </h3>
                <p>

                </p>
                <h3 class="title-separation magenta-sep">
                    <span></span>
                    Responsive
                </h3>
                <p>

                </p> #}
            </article>
        </div>
    </div>

     <div id="lab">
        <div class="with-aside">
            <aside>
                <h1 class="title-separation">
                    <span></span>
                    Lab
                </h1>
                <p>Cette section présente les différents produits et projet que nous proposons</p>
            </aside>
            <article>
                <h3 class="title-separation magenta-sep">
                    <span></span>
                    <a href="http://antistatique.net/blog/2013/04/08/antistatique-ouvre-un-open-device-lab-a-lausanne/">DeviceLab</a>
                </h3>
                <p>
                    Antistatique vous propose, au sein même de ses bureaux, un laboratoire de test avec smartphone et tablettes librement mis à disposition.
                </p>
                <h3 class="title-separation magenta-sep">
                    <span></span>
                    <a href="http://bookedup.ch/">BookedUp</a>
                </h3>
                <p>
                    Une application de prise de rendez-vous pour vos clients.
                </p>
                <p>
                    Une application mobile à votre image, et qui permet à vos clients ou prospects de prendre rendez-vous via leur smartphone (iPhone et Android).
                </p>
                <h3 class="title-separation magenta-sep">
                    <span></span>
                    <a href="http://eventhub.io">EventHub</a>
                </h3>
                <p>
                    EventHub est une application qui permet d'afficher en temps réel toutes les intéractions sur Twitter et Instagram concernant un mot clé (aussi appelé Hashtag). Ainsi les participants peuvent intéragir et partager leur réaction en direct.
                </p>
                <p>
                    Nous avions présenté ce produit lors du <a href="http://antistatique.net/fr/portfolio/electrosanne">festival de musique électronique lausannois</a> et <a href="http://antistatique.net/blog/2014/03/05/tedxlausanne-2014-nous-y-etions-eventhub-aussi/">TEDxLausanne</a>.
                </p>
                <h3 class="title-separation magenta-sep">
                    <span></span>
                    <a href="http://slidedeck.io/">SlideDeck</a>
                </h3>
                <p>
                    SlideDeck est un moteur de recherche de présentations. Aujourd’hui, les professionnels du web utilisent HTML, CSS et Javascript pour créer des présentations. Ils préfèrent les héberger directement sur github.com car cela permet d’avoir un historique et de travailler à plusieurs. Il manquait simplement <a href="http://slidedeck.io/">SlideDeck.io</a> pour référencer toutes ces présentations.
                </p>
                <h3 class="title-separation magenta-sep">
                    <span></span>
                    <a href="http://rubygems.org/gems/capdrupal">CapDrupal</a>
                </h3>
                <p>
                    Projet Open Source permettant d'automatiser le déploiement d'un site Drupal basé sur Capistrano.
                </p>
                <h3 class="title-separation magenta-sep">
                    <span></span>
                    <a href="https://github.com/tonifisler/generator-styleguide">Styleguide Generator Yeoman</a>
                </h3>
                <p>
                    Développé par Toni et Yann, ce logiciel permet de générer un styleguide dynamique. <a href="http://antistatique.net/blog/2014/01/08/styleguides-dynamiques-et-les-bonnes-methodes-de-communication-dun-projet-web/">Retrouvez plus d'informations à ce sujet sur notre blog</a>.
                </p>
            </article>
        </div>
    </div>
</section>
{% endblock %}
